@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* This is to create equivalent of a brace when several people speak at once. */
.together{
	border-left: 1px solid;
}

#chapter-1-5 blockquote:first-of-type{
	border: 2px solid;
	margin-left: auto;
	margin-right: auto;
	max-width: 30ex;
	padding: 1em;
	text-align: center;
}

#chapter-1-5 blockquote:first-of-type p{
	display: inline-block;
	font-style: italic;
	text-align: initial;
}

#chapter-2-6 blockquote:first-of-type{
	font-variant: small-caps;
	text-align: center;
}

#chapter-2-6 blockquote:first-of-type p{
	margin: .5em 0;
	text-indent: 0;
}

#chapter-2-6 blockquote:first-of-type > p:last-of-type{
	font-style: italic;
	font-variant: normal;
}

#chapter-3-2 blockquote{
	border: 2px solid;
	font-variant: small-caps;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	padding: 1em;
	text-align: center;
}

#chapter-3-2 blockquote p{
	text-indent: 0;
}

#chapter-3-2 blockquote p:first-of-type{
	font-size: larger;
}

#chapter-3-2 blockquote p:last-of-type{
	font-style: italic;
	font-variant: normal;
}

/* poetry styling */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

/* Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
